.box-credit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.list-credit {
  color: rgb(128, 128, 128);
}

.list-credit li {
  list-style: none;
  margin: 15px;
}

.list-credit li > a,
li > p {
  margin: 0;
  color: rgb(199, 199, 199);
  font-size: 14px;
}

.credit-btn {
  padding: 5px;
  width: 100%;
  min-width: 100px;
  font-weight: 700;
  margin-top: 20px;
}
.credit-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
