html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: white;
}

@font-face {
  font-family: 'Lato', sans-serif;
  src: url('../fonts/Lato-Regular.ttf');
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #2e2e2e;
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
  color: white;
}

section div {
  /* position: relative; */
  top: 50%;
  /* transform: translateY(-50%); */
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
  color: #f3ec19;
}

.content-wrap {
  width: 80%;
  height: 80%;
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

.desc-sec {
  width: 70%;
  margin: auto;
  opacity: 0.7;
  margin-bottom: 20px;
}

/* title */
.title {
  text-align: center;
  padding-top: 100px;
}

.title h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.circle-shape {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f3ec19;
  margin: auto;
}

/* Navigasi */
.navigasi {
  position: fixed;
  width: 100%;
  text-align: center;
  color: #fff;
  z-index: 2;
  transition: 0.5s;
}

.nav-active {
  background-color: #2e2e2e;
}

.box-center {
  padding: 20px;
  width: 90%;
  display: block;
  margin: auto;
}

.box-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hamburgermenu {
  display: none;
  height: 30px;
}

.hamburgermenu:hover {
  cursor: pointer;
}
.hamburgermenu span {
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  transition: all 0.5s;
}

.hamburgermenu span:nth-child(1) {
  transform-origin: 0 0;
}

.hamburgermenu span:nth-child(3) {
  transform-origin: 0 100%;
}

.rotateTop {
  transform: rotate(45deg);
}

.hide {
  transform: scale(0);
}

.rotateBottom {
  transform: rotate(-45deg);
}

.list {
  list-style: none;
  margin: auto;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list li {
  float: none;
  display: inline-block;
}

.list a {
  margin: 10px 5px;
  display: block;
  padding: 10px;
}

.list,
.link,
a:hover {
  color: #f3ec19;
}

.hireme,
.hireme:visited,
.hireme:focus {
  border: solid 1px #fff;
  border-radius: 10px;
}

.hireme:hover {
  border: solid 1px #f3ec19;
}

.logo {
  height: 50px;
  width: 100px;
}

/* Home */
.section1 {
  background-color: #2e2e2e;
  overflow: hidden;
}

.home {
  height: 700px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../img/background.jpg');
  background-size: cover;
  overflow: hidden;
}

.home-content {
  width: 80%;
  height: 80%;
  display: block;
  margin: auto;
  text-align: center;
}

.home-content h1 {
  margin-top: 200px;
  font-size: 26px;
}

.box-name {
  display: flex;
  justify-content: center;
}

.name {
  float: left;
  margin: 0;
  color: #f3ec19;
}

.home-content .table {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.home-content .table > div:nth-child(2) {
  width: 1px;
  border-right: solid 1px rgb(168, 168, 168);
}

.home-content .table > div {
  width: 45%;
  /* padding-left: 70px;
  padding-right: 70px; */
  padding-bottom: 30px;
}

.tab-content {
  width: 100%;
  text-align: center;
}

.home-content h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.home-content img {
  margin-top: 100px;
  height: 40px;
  width: 30px;
}

/* Portfolio */

.section2 {
  background-color: #2e2e2e;
}

.portfolio-wrap {
  display: flex;
}

.portfolio-card {
  width: 220px;
  height: 350px;
  background-color: #393939;
  border-radius: 20px;
  box-shadow: 1px 2px 1px 2px #2c2c2c;
  display: inline-block;
  margin-top: 15px;
  overflow: hidden;
}

.portfolio-card:hover {
  background-color: #484848;
  cursor: pointer;
}

.web-port {
  width: 440px;
}

.port-title {
  padding: 10px;
}

.port-ico {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.port-ico img {
  margin-right: 10px;
  max-height: 25px;
  max-width: 25px;
}

.photo-port {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 285px;
  overflow: hidden;
  padding-top: 20px;
}

.mock-mobile {
  max-width: 170px;
  height: 300px;
  position: relative;
  z-index: 99;
}

.photo-web {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 285px;
  overflow: hidden;
}

.mock-web {
  max-width: 370px;
  border-radius: 10px;
  box-shadow: #1a1a1a 0.1px 0.1px 5px 0.1px;
}

/* SERIVICE */
.section3 {
  background-color: #2e2e2e;
}

.service-wrap {
  width: 100%;
  overflow: hidden;
}

.service-card {
  width: 300px;
  height: 300px;
  background-color: #242424;
  border: solid 1px #707070;
  display: inline-block;
  margin: 15px;
  overflow: hidden;
}

.serv-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
}
.serv-img img {
  height: 100px;
}

.serv-title {
  padding: 5px;
  height: 20px;
  background-color: #343434;
}

.serv-desc {
  overflow: hidden;
  padding: 10px;
  font-size: 12px;
}

.serv-desc span {
  color: rgb(182, 182, 182);
}

/* ABOUT */

.section4 {
  background-color: #2e2e2e;
}

.about-wrapper {
  padding-top: 40px;
  display: flex;
}

.about-left-wrap {
  text-align: right;
}

.about-left-content {
  /* width: 800px; */
}

.about-name {
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #707070;
}

.about-name span {
  padding: 20px;
  font-size: 18px;
}

.about-desc {
  padding-top: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.about-desc span {
  padding: 20px;
  color: rgb(182, 182, 182);
}

.download-cv {
  padding: 20px;
  color: #f3ec19;
}

.download-cv a {
  color: #f3ec19;
}

.download-cv img {
  vertical-align: middle;
}

.download-cv span {
  margin-right: 10px;
}

.about-right-wrap {
  min-width: 250px;
  height: 350px;
  border: 1px solid #707070;
  border-radius: 20px;
  overflow: hidden;
}

.about-right-wrap img {
  width: 250px;
  height: 350px;
}

/* WHY ME */
.section5 h4 {
  font-weight: 500;
  font-style: italic;
  font-size: 18px;
}

.work-flow {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 80px;
}

.wf-right {
  flex-direction: row-reverse;
}

.wf-right .desc-workflow {
  padding-left: 0;
  padding-right: 15px;
  text-align: right;
}

.image-workflow {
  min-width: 200px;
  min-height: 100px;
  max-width: 200px;
  max-height: 100px;
  border-radius: 10px;
}

.desc-workflow {
  padding-left: 15px;
  text-align: justify;
  opacity: 0.7;
}

/* CONTACT */

.section6 {
  background-color: #2e2e2e;
}

.wrapper-sec5 {
  width: 100%;
  overflow: hidden;
}

.cont-wrap {
  padding-top: 30px;
  height: 65%;
  width: 100%;
}

.cont-left {
  width: 50%;
  padding-top: 30px;
  height: 370px;
  border-right: 1px solid #707070;
  float: left;
}

.cont-left img {
  width: 100%;
  opacity: 0.3;
}

.cont-right {
  width: 42%;
  padding: 30px;
  float: left;
}

.cont-list {
  border-radius: 10px;

  width: 100%;
  background-color: #262626;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cont-list ul {
  padding-left: 10px;
}

.cont-list li {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.cont-list a {
  color: white;
}

.cont-list a:hover {
  color: #f3ec19;
}

.cont-list .flex {
  display: flex;
  align-items: center;
}

.flex > span {
  font-size: 14px;
}

.cont-list li:nth-child(2) {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.cont-list .icon {
  /* vertical-align: middle; */
  margin-right: 10px;
  width: 15px;
}

.cont-list span {
  padding-bottom: 5px;
}

.cont-form-wrap {
  padding-top: 40px;
}

.cont-form-wrap .cont-title {
  padding-bottom: 20px;
  text-align: center;
}

.cont-form input {
  padding: 5px;
  font-family: 'Lato', sans-serif;
  float: left;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid white;
  width: 45%;
}

.cont-form input:nth-child(2) {
  float: right;
}

.cont-form input:focus {
  outline: none;
}

.cont-form textarea {
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
}

.cont-form textarea:focus {
  outline: none;
}

.cont-form input[type='submit'] {
  margin-top: 20px;
  border-radius: 5px;
  float: right;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  background-color: #f3ec19;
  width: auto;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: #2e2e2e;
  border: none;
  min-width: 50px;
}

.cont-form input[type='submit']:hover {
  cursor: pointer;
}

/* footer */
.footer {
  margin-top: 50px;
  position: relative;
}

.footer img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 2%;
  bottom: 20%;
  height: 130px;
  width: 250px;
  z-index: 0;
  opacity: 0.03;
}

.footer-up {
  min-height: 230px;
  background-color: #202020;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.footer-up .footer-list {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  flex-wrap: wrap;
  margin-right: 20px;
}

.footer-up .footer-list > h6 {
  margin-bottom: 15px;
}

.footer-up .footer-list > span {
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.7;
}

.footer-down {
  width: 100%;
  height: 50px;
  background-color: #131313;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}

.footer-down span {
  color: #7e7e7e;
  padding-left: 50px;
}
.footer-down a {
  color: #7e7e7e;
  margin-right: 50px;
}
