/* Tablet */
@media only screen and (max-width: 768px) {
  .navigasi {
    position: relative;
  }
  .box-center {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }
  .box-logo {
    position: relative;
    left: 0;
    top: 0;
    z-index: -2;
    transform: none;
  }
  .logo {
    height: 35px;
    width: 70px;
  }
  .hamburgermenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .list {
    padding-top: 20px;
    background-color: #222;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(100%);
    transition: all 1s;
  }

  .slide {
    transform: translateX(0);
  }

  .list li {
    float: none;
    width: 70%;
  }
  .list li:nth-child(1) {
    float: none;
  }
  .list li:nth-child(2) {
    float: none;
  }
  .list li:nth-child(3) {
    float: none;
  }

  .home {
    height: 550px;
  }

  .home-content h1 {
    margin-top: 50px;
    font-size: 14px;
  }

  .home-content table {
    margin-top: 30px;
    margin-right: 10px;
  }

  .home-content td {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-right: solid 1px rgb(168, 168, 168);
  }

  .home-content h2 {
    font-size: 14px;
  }

  .home-content span {
    font-size: 12px;
  }

  /* service */
  .portfolio-card {
    width: 100%;
    margin: 15px 0px;
  }

  /* service */
  .service-card {
    width: 100%;
    margin: 15px 0px;
  }

  /* about */
  .about-right-wrap {
    margin: auto;
    min-width: 200px;
    height: 270px;
  }

  .about-right-wrap img {
    width: 200px;
    height: 270px;
  }

  .about-desc {
    height: auto;
    overflow: hidden;
  }

  .about-desc span {
    font-size: 14px;
    padding: 20px;
    color: rgb(182, 182, 182);
  }

  .about-left-wrap {
    float: none;
    margin: auto;
    text-align: center;
    overflow: hidden;
  }

  .about-left-content {
    width: 100%;
  }

  /* contact */

  .cont-left {
    display: none;
  }

  .cont-right {
    width: 80%;
    padding: 0px;
    float: none;
    margin: auto;
  }

  .cont-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .cont-list li:nth-child(2) {
    border: none;
  }

  .flex > span {
    font-size: 14px;
  }
  .icon {
    width: 15px;
  }
}
